.home {
  padding: 60px;
  &-img {
    max-width: 1800px;
    margin: auto;
    position: relative;
    > img {
      width: 100%;
      border-radius: 16px;
    }
    &-content {
      max-width: 782px;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      > h1 {
        font-weight: 600;
        line-height: 48.76px;
        color: var(--white-2);
        font-size: 34px;
        margin-bottom: 32px;
      }
      button {
        padding: 12px 24px;
        border-radius: 12px;
        border: none;
        cursor: pointer;
        font-weight: 600;
        color: var(--button);
        background-color: var(--white-2);
      }
    }
    &-more {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, -12px);
      > a {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: max-content;
        font-size: 12px;
        opacity: 0.4;
        > span {
          font-weight: 400;
          line-height: 14.63px;
          color: var(--white-2);
          margin-bottom: 4px;
        }
      }
    }
  }
  &-inner {
    max-width: 1200px;
    margin: 0 auto;
    &-newarrivals {
      &-head {
        margin: 60px 0 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--button);
        &-title {
          font-size: 24px;
          font-weight: 600;
          line-height: 30px;
          color: var(--black);
        }
        &-text {
          font-size: 14px;
          font-weight: 600;
          line-height: 17px;
          color: var(--button);
          text-decoration: none;
        }
        &-rout {
          display: flex;
          align-items: center;
          gap: 4px;
          cursor: pointer;
        }
      }
      &-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
      }
    }
    &-parts {
      margin-top: 56px;
      > article {
        display: flex;
        gap: 20px;
        > div {
          display: flex;
          align-items: center;
          justify-content: center;
          flex: 1;
          border-radius: 14px;
          background-size: cover;
          background-position: center;
          a {
            font-size: 30px;
            font-weight: 600;
            text-decoration: none;
            color: var(--white-2);
          }
        }
      }
      &-1 {
        &-part {
          height: 300px;
        }
        .babies {
          background-image: url(../../Images/home/babies.png);
        }
        .t-girls {
          background-image: url(../../Images/home/toddler-girls.png);
        }
        .t-boys {
          background-image: url(../../Images/home/toddler-boys.png);
        }
      }
      &-2 {
        margin-top: 20px;
        &-part {
          height: 440px;
        }
        .girls {
          background-image: url(../../Images/home/girls.png);
        }
        .boys {
          background-image: url(../../Images/home/boys.png);
        }
      }
    }
  }
}
